---
layout: handbook-page-toc
title: Anti-Abuse Group
description: "The Anti-Abuse group creates controls to prevent abuse of the GitLab product"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

Our goal is to provide Insider Threat features for your applications as well as GitLab itself. We will help proactively identify malicious activity, accidental risk, compromised user accounts or infrastructure components, anomalous use of the GitLab platform, and various high-risk behaviors where actionable remediation steps are possible.

## How we work
- We work in accordance with our [GitLab values](/handbook/values/).
- We work [transparently](/handbook/values/#transparency) with nearly everything public.
- We get a chance to work on the things we want to work on.
- We have a [bias for action](/handbook/values/#bias-for-action).
- We make data-driven decisions.
- Everyone can contribute to our work.


## Direction

[Group direction](https://about.gitlab.com/direction/anti-abuse/)

## Team members

The following people are permanent members of the Anti-Abuse Group:

| Who | Role |
| --- | --- |
| [Alex Buijs](https://about.gitlab.com/company/team/#alexbuijs) | Senior Fullstack Engineer |
| [Eugie Limpin](https://about.gitlab.com/company/team/#eugielimpin) | Senior Fullstack Engineer |
| [Guillermo De los Santos García](https://about.gitlab.com/company/team/#GuillermoDLSG) | Senior Backend Engineer |
| [Hinam Mehra](https://about.gitlab.com/company/team/#hmehra) | Fullstack Engineer |
| [Jay Swain](https://about.gitlab.com/company/team/#jswain) | Engineering Manager |
| [Jensen Stava](https://about.gitlab.com/company/team/#jstava) | Sr. Product Manager |




## How to contact us

* Tag a team member in a merge request or issue
* Post a message in the #g_anti-abuse channel (internal only)

## Initial focus

Building the team and detecting and preventing spam and cyrptomining abuse of the GitLab SaaS platform.

## Project management process

Our team uses a hybrid of Scrum for our project management process. This process follows GitLab's [monthly milestone release cycle](/handbook/marketing/blog/release-posts/#schedule).

<%= partial "handbook/engineering/metrics/partials/_cross_functional_dashboard.erb", locals: { filter_value: "anti-abuse" } %>

### Workflow

Our team use the following workflow stages defined in the [Product Development Flow](/handbook/product-development-flow/#workflow-summary):

### Epic roadmap

We use an epic roadmap to track epic progress on a quarterly basis.

### Issue boards

We use a team specific [issue board](https://gitlab.com/groups/gitlab-org/-/boards/4292845?milestone_title=Any%20Milestone&label_name%5B%5D=group%3A%3Aanti-abuse) which can be [grouped by epic](https://gitlab.com/groups/gitlab-org/-/boards/4292845?milestone_title=Any%20Milestone&label_name[]=group%3A%3Aanti-abuse&group_by=epic) to track issue progress on a daily basis. Issue boards are our single source of truth for the status of our work. Issue boards should be viewed at the highest group level for visibility into all nested projects in a group.

### Iteration

We follow the [iteration process](/handbook/engineering/development/principles/#iteration) outlined by the Engineering function.

### Weekly refinement

Refinement is the responsibility of every team member. Every Friday, Slack will post a refinement reminder in our group channel. During refinement, we make sure that every issue on the issue board is kept up to date with the necessary details and next steps.

Each engineer is expected to provide a quick async issue update by commenting on their assigned issues using the following template:

```
<!---
Please be sure to update the workflow labels of your issue to one of the following (that best describes the status)"
- ~"workflow::In dev"
- ~"workflow::In review"
- ~"workflow::verification"
- ~"workflow::blocked"
-->
### Async issue update
1. Please provide a quick summary of the current status (one sentence).
1. When do you predict this feature to be ready for maintainer review?
1. Are there any opportunities to further break the issue or merge request into smaller pieces (if applicable)?
1. Were expectations met from a previous update? If not, please explain why.
```

We do this to encourage our team to be more async in collaboration and to allow the community and other team members to know the progress of issues that we are actively working on.

### Milestone Planning and Timeline

Our team follows the [Product Development Timeline](/handbook/engineering/workflow/#product-development-timeline) as our group is dependent on the [GitLab self-managed release cycle](https://about.gitlab.com/upcoming-releases/).

We use [planning issues](https://gitlab.com/gitlab-org/modelops/anti-abuse/team-tasks/-/issues/?sort=updated_desc&state=opened&label_name%5B%5D=Planning%20Issue) to discuss priorites (GitLab internal).

### Issue labels

We use issue labels to keep us organized. Every issue has a set of required labels that the issue must be tagged with. Every issue also has a set of optional labels that are used as needed.

**Required labels**
- Stage: `~devops::anti-abuse`
- Group: `~group::anti-abuse`

### Merge request labels

MR labels can mirror issue labels (which is automatically done when created from an issue), but only certain labels are required for correctly [measuring engineering performance](#measuring-engineering-performance).

**Required labels**
- Stage: `~devops::anti-abuse`
- Group: `~group::anti-abuse`

### Milestones

We tag each issue and MR with the planned milestone or the milestone at time of completion.

## Team Meetings

Our group holds synchronous meetings to gain additional clarity and alignment on our async discussions. We aspire to [record](https://about.gitlab.com/handbook/tools-and-tips/zoom/) all of our meetings as our team members are spread across several time zones and often cannot attend at the scheduled time.

We have a weekly team sync meeting with rotating [EMEA/AMER](https://drive.google.com/drive/folders/1nm7FRZ0f9T4ajbmJvz4LYLVWl5cXiXiQ?usp=sharing) and [AMER/APAC](https://drive.google.com/drive/folders/1wLdWWi3f6Aho6E2m4Xbhv1Nuoy_ZSC1e?usp=sharing) friendly time slots: Weds 14:30 UTC and Thurs 00:00 UTC.
